<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">NEWS ROOM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link "  routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="politics" routerLinkActive="active">Politics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sports" routerLinkActive="active">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="business" routerLinkActive="active">Business</a>
        </li>
        <li class="navbar-nav">
          <a class="nav-link" routerLink="authentication/login" routerLinkActive="active">Login</a>
          <a class="nav-link" routerLink="authentication/register" routerLinkActive="active">Register</a>
          <a class="nav-link" routerLink="authentication/profile" routerLinkActive="active">Account</a>
          <a class="nav-link" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </nav>